<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title th:text="${codeTypePrompt}">Code Type</title>
	<meta th:remove="tag" th:include="commons :: common-meta"/>
	<meta th:remove="tag" th:include="commons :: common-css"/>
</head>

<body>

	<section id="container" class="">
		<!--header start-->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!--sidebar start-->
		<div class="header-section" th:include="commons :: main-menu"></div>

		<!--main content start-->
		<section id="main-content">
			<section class="wrapper site-min-height">
				<!-- page start-->
				<div class="row">
					<div class="col-lg-6">
						<section class="panel">
							<header class="panel-heading">
								<a th:href="@{/system/xcodes?codetype=} + ${xcodes.codeType}" class="btn btn-primary btn-xs"><i class="fas fa-redo-alt"></i> New</a>
								<a th:if="${#strings.isEmpty(xcodes.xcode)}" class="btn btn-success btn-xs mainform-btn confirm-btn"><i class="fas fa-paper-plane"></i> <span>Submit</span></a>
								<a th:if="${not #strings.isEmpty(xcodes.xcode) and xcodes.status}" class="btn btn-success btn-xs mainform-btn confirm-btn"><i class="fas fa-paper-plane"></i> <span>Update</span></a>
								<!-- <a th:if="${not #strings.isEmpty(codeType.codeType) and codeType.status}" th:href="@{/system/codetype/} + ${codeType.codeType}" class="btn btn-xs btn-danger mainform-btn archive-btn"><i class="fas fa-trash-alt"></i> Archive</a>
								<a th:if="${not #strings.isEmpty(codeType.codeType) and not codeType.status}" th:href="@{/system/codetype/} + ${codeType.codeType}" class="btn btn-xs btn-success mainform-btn restore-btn"><i class="fas fa-trash-alt"></i> Archive</a> -->
								<span class="tools pull-right">
									<a class="fa fa-chevron-down" href="javascript:;"></a>
								</span>
							</header>
							<div class="panel-body">
								<form id="mainform" th:action="@{/system/xcodes/save}" method="POST" th:object="${xcodes}">
									<input th:if="${not #strings.isEmpty(xcodes.codeType)}" type="hidden" th:field="*{codeType}"/>
									<input th:if="${not #strings.isEmpty(xcodes.xcode)}" type="hidden" th:field="*{xcode}"/>
									<div th:if="${#strings.isEmpty(xcodes.codeType)}" class="form-group">
										<label for="codeType">Code Type</label>
										<select class="form-control" th:field="*{codeType}">
											<option th:each="ct : ${codeTypeList}" th:value="${ct.codeType}" th:text="${ct.prompt}"></option>
										</select>
									</div>
									<div class="form-group">
										<label th:for="${xcodes.xcode}" th:text="${codeTypePrompt}">Xcodes</label>
										<input 	type="text" 
												class="form-control" 
												th:field="*{xcode}"
												required="required"
												th:disabled="${not #strings.isEmpty(xcodes.xcode)}"/>
									</div>
									<div class="form-group">
										<label for="description">Description</label>
										<textarea rows="3" cols="" class="form-control" th:field="*{description}"></textarea>
									</div>
									<div class="form-group">
										<label th:for="sequence">Sequence</label>
										<input 	type="number" 
												class="form-control" 
												th:field="*{sequence}"
												min="0"/>
									</div>
									<input type="hidden" th:value="${xcodes.codeType}" id="parentCodeType" name="parentCodeType"/>
									<div th:if="${allowParent}" class="form-group">
										<label for="codeType">Code Type</label>
										<select class="form-control" th:field="*{parentCode}">
											<option value="">-- Select --</option>
											<option th:each="pc : ${parentCodes}" th:value="${pc.xcode}" th:text="${pc.xcode}"></option>
										</select>
									</div>
								</form>
							</div>
						</section>
					</div>

					<div class="col-lg-6">
						<section class="panel">
							<header class="panel-heading">
								All <span th:text="${codeTypePrompt}"></span>
								<span class="tools pull-right">
									<a class="fa fa-chevron-down" href="javascript:;"></a>
								</span>
							</header>
							<div class="panel-body">
								<table class="table table-bordered table-stripped datatable">
									<thead>
										<tr>
											<th th:text="${codeTypePrompt}">Code Type</th>
											<th>Sequence</th>
											<th th:if="${allowParent}">Parent</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="x : ${xcodesList}">
											<td>
												<a th:href="@{/system/xcodes/} + ${x.xcode} + '?codetype=' + ${x.codeType}" th:text="${x.xcode}"></a>
											</td>
											<td th:text="${x.sequence}"></td>
											<td>
												<a th:href="@{/system/xcodes/} + ${x.parentCode} + '?codetype=' + ${x.parentCodeType}" th:text="${x.parentCode}"></a>
											</td>
											<td th:text="${x.status ? 'Active' : 'Inactive'}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>

				<!-- page end-->
			</section>
		</section>
		<!--main content end-->

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</section>

	<div th:remove="tag" th:include="commons :: common-js"></div>
</body>
</html>
